.crud {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black
    
}

table td {
    width: 500px;
    height: 100px;
    background-color:#D3D3D3;
    text-align: center;
    color: black;
    border: 1px solid black;
}

table td button {
    padding: 5px 10px;
    border-radius: 5%;
    cursor: pointer;
}
table td button.edit {
    border: 1px solid green;
    background-color: rgb(7, 168, 7);
    color: white;
}
table td button.edit:hover {
    background-color: rgb(3, 71, 3);
}
table td button.delete {
    border: 1px solid red;
    background-color: rgb(219, 19, 19);
    color: white;
}
table td button.delete:hover {
    border: 1px solid red;
    background-color: rgb(219, 19, 19);
    color: white;
}


.addForm {
    margin-bottom: 20px;
    border-color: black;
   
}
.addForm input {
    width: 670px;
    height: 40px;
}
.addForm button {
    width: 135px;
    color: white;
    height: 40px;
    background-color: rgb(31, 57, 171);
}
.addForm button:hover {
    background-color: rgb(5, 86, 5);
}
.input{
    padding-left: 5px;
    padding-right: 5px;
}




